/* .body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
display: flex;
justify-content: center;
height: 100vh;
align-items: stretch;
align-content: stretch;
} */

/* .card-container {
    position: relative;
justify-content: space-around;
width: 80%;
border: 50px soild black;  
}

.card{
    display: flex;
   
    border: 5px soild black;  
    border-radius: 8px;
    padding: 40px;
    margin: 10px;    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInFromRight 2s ease-in-out;
    position: relative;
    min-height: 1px;
   
}

.card-title{
    border: 50px soild black;  
    margin-bottom: 3px;
}
.card-image{
   height: 50px;
   width: 50px; 
}

.card-text{
    align-items: first baseline;
    display: flex;
    text-align: center;
padding: 5rem;}



@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;}
    } */



    @keyframes slideInFromRight {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;}
        }
    
        /* .card-container1{
            color: aquamarine;
            background-color: black;
            padding: 2rem;
        }
    
        .card-container2{
            color: aquamarine;  
            background-color: black;
            padding: 2rem;
        }
        .card-container3{
            color: aquamarine;
            background-color: black;
            padding: 2rem;
        } */
    
        .cards-container {
            display: flex;
            justify-content: space-around;
          }
          
          .card {
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 10px;
            box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
            padding: 2rem;
            margin: 10px;
            text-align: center;
            max-width: 400px;
            background-color: #dcb5ff;
          }
          .card-text{
            color: var(--black);
          }

  #car_d{
    margin-bottom: 70px;
    margin-top: 70px;
  }